.node-type-label {
    color: white;
    font-family: Helvetica, Arial;
    font-weight: bold;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #e86c24;
}